<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Numbers to Words</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1 class="display-1 text-center">Convert a Number Form</h1>
    <form action="/convert/display" method="post">
      <label for="num">Enter a number:</label>
      <input type="number" name="num" id="num" class="form-control" min="0">
      <button type="submit" class="btn btn-primary">Convert</button>
    </form>
    <a href="/"><button class="btn btn-danger">Home</button></a>
  </body>
</html>